body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: #4B5D68;
}
.main-content{
    margin: auto;
    max-width: 1120px;
}

header {
    max-width: 1120px;
    height: 754px;
    border: 1px solid red;
    margin: auto;
    margin-bottom: 120px;
}

.important-color {
    color: #212353;
}

.container-header-logo-nav {
    height: 60px;
    border: 1px solid orange;
    margin: auto;
    display: flex;
    align-items: center;
}
.circle {
    width: 20px;
    height: 20px;
    background-color: #9C69E2;
    border-radius: 50%;
    margin-right: 9px;
}

.ellipse {
    width: 20px;
    height: 35px;
    background-color: #F063B8;
    border-radius: 20px;
}

.logo {
    border: 1px solid blue;
    width: 49px;
    height: 35px;
    display: flex;
    align-items: flex-end;
    margin-right: 120px;
}

.list-nav {
    width: 322px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none; 
}

li a {
  text-decoration: none;
  color: #4B5D68;
}

.demo {
    width: 210px;
    height: 60px;
    background-color: #fff;
    margin-left: 415px;
    border-radius: 50px;
    border-color: #fff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.container-text-icon {
    width: 152px;
    height: 26px;
    border: 1px solid violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.btn-text {
    font-weight: bold;
    font-size: 16px;
}

.section-header-text {
    width: 645px;
    height: 464px;
    border: 1px solid black;
    margin-top: 150px;
}

.header-title {
    height: 184px;
    border: 1px solid green;
    font-size: 80px;
}

.header-text {
    width: 380px;
    height: 120px;
    margin-top: 50px;
    font-size: 18px;
}

.btn-learn {
    width: 210px;
    height: 60px;
    background-color: #9C69E2;
    border-radius: 50px;
    border-color: #fff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.btn-text-learn {
    color: #fff;
    font-size: 18px;
}

.container-header-content {
    display: flex;
}

.img-header {
    position: absolute;
    z-index: -1;
    top: 330px;
    left: 620px;
}

.info-about {
   /* width: 1117px;*/
    height: 560px; 
    border: 1px solid green;
    margin: auto;
    background-color: #fde8f5;
    border-radius: 50px;
    display: flex;
}

.about-text-section {
    width: 475px;
    height: 310px;
    border: 1px solid blue;
    margin-left: 75px;
    margin-top: 115px;
}

.about-title {
    height: 100px;
    font-size: 40px;
    border: 1px solid red;
    margin-bottom: 50px;
}

.features-content {
    /*width: 1137px;*/
    height: 1026;
    border: 1px solid lightblue;
    margin: auto; 
    margin-top: 150px;
    text-align: center;
}

.features-info {
    width: 584px;
    height: 160px;
    border: 1px solid red;
    margin: auto;
}

.features-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 45px;
}

.all-features{
    height: 765px;
    border: 1px solid purple;
    margin-top: 100px;
    /*width: 1137px;*/
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: 406px;
    height: 357px;
    border: 1px solid black;
    margin-left: 150px;
    border-radius: 50px;
    border-bottom: 1px; 
}

.feature-1 {
    background-color: rgba(104,201,186,0.2)
}

.feature-2 {
    background-color:  rgba(156,105,226, 0.2);
}

.feature-3 {
    background-color:  rgba(240,99,184,0.2);
}

.feature-4 {
    background-color:  rgba(45,156,219, 0.2);
}

.img {
    position: relative;
    right: 235px;
    top: 90px;
} 

.img-title {
    font-size: 25px;
    margin-top: -150px;
}

.addMargin {
    margin-top: -170px;
}

.img-text {
    width: 220px;
    height: 160px;
    border: 1px solid forestgreen;
    margin: 20px 100px;
    text-align: start;
}

.btn-learn-img {
    width: 140px;
    height: 25px;
    border: 1px solid gold;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.testimonial-content {
    height: 710px;
    border: 1px solid indianred;
    background-color:  #9C69E2;
    border-radius: 50px;
    margin-top: 155px;
}

.test-title {
    font-size: 40px;
    color: #fff;
    margin: 110px 95px; 
}

hr {
  position: absolute;
  top:auto;
  left:0;
  width:100%; 
}

.footer-btn-info {
    display: flex;
    justify-content: space-between;
}

/*.footer-content {
    margin-top: 155px;
    height: 850px;
    display: flex;
    justify-content: space-between;
}*/

/*.footer-text-content {
    width: 585px;
    height: 100px;
    border: 1px solid hotpink;
    margin-top: 100px; 
      display: flex;
    justify-content: space-between;
} */


.footer-title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 110px;
}

.footer-text {
    margin-top: 40px;
}

#btn-learn-footer {
    margin-top: 140px;
    background-color: #9C69E2;
}

#btn-demo-footer {
    margin-top: -60px;
    margin-left: 20px;
}

.footer-info-content {
    display: flex;
    margin-top: 160px;
    
}

.logo-footer {
    margin-right: 20px;
}

.footer-adress{
    margin-top: 70px;
}

.footer-phone {
    margin-top: 40px;
}

.ml {
    margin-left: 150px; 
}